.row {
  height: 33.33vh;
  width: 100vw; 
  display: flex;
  align-items: flex-start;
}

.canvas-column {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.canvas-wrapper {
  width: 100%;
}
.container {
  margin: 0;
  padding: 0;
}