.row {
  width: 100vw; 
  display: flex;
  align-items: flex-start;
}

.row1 {
  height: 15vh;
}

.row2 {
  height: 40vh;
}

.row3 {
  height: 45vh;
}

.canvas-column {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.canvas-wrapper {
  width: 100%;
}
.container {
  margin: 0;
  padding: 0;
}

body {
  user-select: none;
  /* background-color: #606CE4; */
  background-color: #989FEB;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #9585FF;
  border: none;
  border-radius: 15px;
  margin-left: 10px;
  margin-top: 5px;
}

.button:hover {background-color: #6047FF}

.button:active {
  background-color: #6047FF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button.active {
  background-color: #6047FF;
}
.canvas-wrapper canvas {
  display: block;
}

#mapKeysDisplay, #mapKeysDisplayTitle {
  color: #fff;
  font-size: 24px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 10px 0;
  margin-left: 10px;
}

#mapKeysDisplay{
  margin-left: 15px;
  user-select: text;
}

#resetAlert, #resetKeyAlert {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}
.modal-dialog {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 80%;
  transform: translate(-50%, -50%);
}