.row {
  width: 100vw; 
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.sub-row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.row1 {
  height: 15vh;
}

.row2 {
  height: 40vh;
}

.row3 {
  height: 45vh;
}

.canvas-column {
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.canvas-wrapper {
  width: 100%;
}
.container {
  margin: 0;
  padding: 0;
}

body {
  user-select: none;
  background-color: #989FEB;
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 900px; 
  height: 100%;
  max-height: 100%;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5em;
  font-size: 18px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #9585FF;
  border: none;
  border-radius: 15px;
  margin: 5px;
}



.button:hover {background-color: #6047FF}

.button:active {
  background-color: #6047FF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button.active {
  background-color: #6047FF;
}
.canvas-wrapper canvas {
  max-width: 100%;
  display: block;
}

#resetKeyboardButton, #saveConfigurationButton {
  width: 175px; 
}

#resetKeyButton, #deleteConfigButton {
  width: 190px;
}

#setResetButton, #setConfigButton, #exportConfigButton, #importConfigButton {
  width: 200px;
}

#configurationsDisplay, #specialKeysDisplay {
  height: 100%; 
  overflow-y: auto;
}

#mapKeysDisplay, #mapKeysDisplayTitle, #specialKeysDisplayTitle, #specialKeysDisplay, #configurationsDisplayTitle, #configurationsDisplay {
  color: #fff;
  font-size: 24px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 10px;
}

#specialKeysDisplayTitle {
  margin-left: 45px;
  margin-bottom: 0px;
}

#specialKeysDisplay {
  margin-top: 0px;
  margin-left: 55px;
}

#configurationsDisplayTitle {
  margin-bottom: 0px;
}

#configurationsDisplay {
  margin-top: 0px;
  margin-left: 25px;
}

#mapKeysDisplay {
  margin-left: 15px;
  user-select: text;
}

#resetAlert, #resetKeyAlert, #alreadyMapKey {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

.dropdown {
  padding: 0;
}

.dropdown-menu {
  background-color: #9585FF;
}

.dropdown-menu .dropdown-item {
  color: white;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #6047FF; 
}


.custom-modal {
  position: fixed;
  top: 40%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
}

.modal-dialog {
  margin: 1.75rem auto;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  pointer-events: auto;
  background-color: #7780E4;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
  padding: 20px;
}

.modal-header {
  border-bottom: 1px solid #dee2e6; /* Add a bottom border to the header */
  margin-bottom: 20px;
}

.modal-content input {
  background-color: #989FEB; /* Replace with your desired color */
}

.modal-content {
  color: #fff; /* Change the text color to white */
}

input[type=range]::-webkit-slider-runnable-track {
  background: #DCD6FF;
}

input[type=range]::-webkit-slider-thumb {
  background: #9585FF;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
  color: #6047FF;
}

@media (max-width: 768px) {
  .button {
    width: 100%; 
  }

  .row,
  .sub-row {
    flex-direction: column;
  }

  .modal-content {
    width: 90%;
  }
}

@media (max-width: 480px) {
  #mapKeysDisplay,
  #mapKeysDisplayTitle,
  #specialKeysDisplayTitle,
  #specialKeysDisplay,
  #configurationsDisplayTitle,
  #configurationsDisplay {
    font-size: 20px;
    margin: 5px;
  }
}